<nav class="navbar navbar-expand-md navbar-light" style="background-color: #3da7f5;">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">XpressXerox</a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
                {% if user.username != "amirkanai01@gmail.com" %}
                    <a class="nav-link" href="{% url  'action:userDashboard'  %}">{{user.username}}</a>
                {% else %}
                    <a class="nav-link" href="{% url  'action:adminDashboard'  %}">{{user.username}}</a>
                {% endif %}
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url  'user:Logout'  %}">LogOut <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url  'user:register'  %}">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url  'user:login'  %}">Log In <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>