{% extends 'login/LayoutHome.html' %}
{% block body %}
{% load static %}
<div class="jumbotron">
    <p class="lead">
        <strong>
            <span class="Brand-X1">X</span><span class="Brand-press">press</span><span class = "Brand-X2">X</span><span class="Brand-erox">erox</span>
            is an honest effort to provide you smooth experience towards getting photocopy in our college.
            As all we know most of services are now available on internet, We tried to give our one also.
            We really gave out best of us to create XpressXerox.
        </strong>
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="lead">
                    <strong>Xerox Center,<br>Govt. College of Engineering, Karad 415124 Maharashtra<br>
                        <span><img src="{% static "images/gmail.png" %}" alt="gmail" height = 16 width = 16></span>
                        <span>xpressxeroxx@gmail.com</span>
                    </strong>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="lead">
                    <strong>
                        Do you have more ideas? or Would you like to contribute? Then contact me.<br>
                        <span><img src="{% static "images/gmail.png" %}" alt="gmail" height = 16 width = 16></span>
                        <span>pawarraviraj9160@gmail.com</span>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}