<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!--custom css for footer-->
    <link rel="stylesheet" href=" {% static "css/footer.css" %}" >
    <style>
        .custom-label{
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2px;
                margin-top: 2px;
                display: block;
            }
    </style>

    <title>XpressXerox</title>
</head>

<body>

{%include 'login/include/NavbarHome.html'%}
<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <li class="alert alert-success">{{ message }}</li>
                {% else %}
                    <li class="alert alert-danger">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% block body%}

    {% endblock %}
</div>
    {% block user%}

    {% endblock %}

    {% block admin%}

    {% endblock %}

<footer class="footer">
    <div class="container">
        <span class="text-muted">Made by Students for the Student.</span>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>