<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

</head>
<body>
    <p style="text-align: center; font-family: Impact, sans-serif;">
        <span style='font-size: 350%; color: #ed4d54'>X</span><span style='font-size: 250%;color: #c993ca'>press</span><span style='font-size: 350%;color: #8cfffb'>X</span><span style='font-size: 250%;color: #e9c224'>erox</span>
    </p>
    <p style="text-align: left; color: #273746; font-size: 150%;">Hi <strong style="font-weight:bold; color:#5822AB">{{email}},</strong></p>
    <p style="text-align: left; color: #CB9037;">
        You are getting this mail because , We got request for <strong style="font-weight:bold; color:#412768">Reset password.</strong>
    </p>
    <p style="text-align: left; color:#CB9037;">
        You got the link for reset password. Please do not share with anyone. <strong style="font-weight:bold; color:#412768">Link is activated for 30 minutes.</strong>
    </p>
    <p style="text-align: center; font-size: 150%;"><a href={{link}}>Click here to Reset Password</a></p>
    <p style="text-align: left; color: #818080;">If you are not able to redirect to link <paste></paste> below link in browser</p>
    <p style="text-align: center; color: #818080;">{{link}}</p>
    <p style="text-align: left; color:#CB9037;">Thanks and Regards,</p>
    <p style="text-align: left; font-family: Impact, sans-serif;">
        <span style='font-size: 150%; color: #ed4d54'>X</span><span style='font-size: 100%;color: #c993ca'>press</span><span style='font-size: 150%;color: #8cfffb'>X</span><span style='font-size: 100%;color: #e9c224'>erox</span>
    </p>



</body>
