<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

</head>
<body>
    <p style="text-align: center; font-family: Impact, sans-serif; ">
        <span style='font-size: 350%; color: #ed4d54'>X</span><span style='font-size: 250%;color: #c993ca'>press</span><span style='font-size: 350%;color: #8cfffb'>X</span><span style='font-size: 250%;color: #e9c224'>erox</span>
    </p>
    <p style="text-align: left; color: #273746; font-size: 150%;">Hi <strong style="font-weight:bold; color:#5822AB">{{email}},</strong></p>
    <p style="text-align: left; font-family: Impact, sans-serif; font-size: 150%;">
        <span style="font-size: 100%">Welcome to </span><span style='font-size: 150%; color: #ed4d54'>X</span><span style='font-size: 100%;color: #c993ca'>press</span><span style='font-size: 150%;color: #8cfffb'>X</span><span style='font-size: 100%;color: #e9c224'>erox.</span></p>
    <p style="text-align: left; color: #F47371;">
        World is moving towards the cloud so WE. We are here make your <strong style="color:#405699;font-size: 150%;">experience much smoother in order to get photocopy.</strong>
    </p>
    <p style="text-align: left; color: #E85250; font-size: 150%;">You are ready with your Document ? then <strong style="color:#405699;font-size: 150%;">just upload </strong>it and collect from center</p>
    <p style="text-align: left; color: #DF3735; font-size: 150%;"><strong style="color:#405699;font-size: 150%;">No more queues ,</strong> Waiting in lines and worry about change. </p>
    <p style="text-align: left; color: #D60F0C; font-size: 150%;">Most Important thing; We care for your <strong style="color:#405699;font-size: 150%;">Privacy, Time.</strong></p>
    <p style="text-align: left; color: #CB9037; font-size: 150%;"></p>
    <p style="text-align: left; color:#CB9037; font-size: 150%;"><strong style="font-size: 150%;">Thanks and Regards,</strong></p>
    <p style="text-align: left; font-family: Impact, sans-serif; font-size: 150%;">
        <span style='font-size: 150%; color: #ed4d54'>X</span><span style='font-size: 100%;color: #c993ca'>press</span><span style='font-size: 150%;color: #8cfffb'>X</span><span style='font-size: 100%;color: #e9c224'>erox</span>
    </p>
</body>